.theme {
  color: red;
}

.theme2 {
  color: red;
}

.fwb {
  font-weight: bold;
}

.df {
  display: flex;
}

.fwb {
  font-weight: bold;
}

.df {
  display: flex;
}

#contentsWrap {
  padding-top: 100px;
}
@media (max-width: 1280px) {
  #contentsWrap {
    padding-top: 50px;
  }
}

.m-headWrap {
  display: none;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  z-index: 9000;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
header .headWrap {
  height: 100px;
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 1720px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  header .headWrap {
    width: calc(100% - 20px);
  }
}
header .headWrap h1.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headWrap h1.logo a {
  display: block;
  width: 175px;
  height: 65px;
  background: url("/img/logo.png") no-repeat 0 0/contain;
}
header .headWrap h1.logo a img {
  max-height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
header .headWrap h1.logo a img.transparent {
  display: none;
}
header .headWrap .gnb {
  display: flex;
}
header .headWrap .gnb > li {
  position: relative;
}
header .headWrap .gnb > li h2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100px;
  position: relative;
}
header .headWrap .gnb > li h2 a:before {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  background: red;
  transition: 0.2s;
}
header .headWrap .gnb > li h2 a:after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  inset: 0;
  background: red;
  opacity: 0.05;
  z-index: -1;
  transition: transform 0.3s ease;
  transform-origin: bottom right;
  transform: scaleX(0);
}
header .headWrap .gnb > li h2 a:hover {
  color: red;
}
header .headWrap .gnb > li h2 a:hover:before {
  width: 100%;
}
header .headWrap .gnb > li h2 a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .headWrap .gnb > li ul h3 > a:hover {
  color: red;
}
header .headWrap .side {
  display: flex;
}
header .headWrap .side li {
  position: relative;
}
header .headWrap .side li:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 0;
}
header .headWrap .side li:not(:last-child) a {
  position: relative;
}
header .headWrap .side li:not(:last-child) a:after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background-color: #666;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}
header .headWrap .side li a {
  font-size: 12px;
}
header .headWrap .side li a:hover {
  color: red;
}
header .headWrap .hamBtn {
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  transition: 0.2s;
}
header .headWrap .hamBtn span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #232323;
  margin: 2.5px 0;
  position: relative;
}
header .headWrap .hamBtn span em {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #232323;
}
header .headWrap .hamBtn.on {
  transform: rotate(45deg);
}
header .headWrap .hamBtn.on span em {
  transform: rotate(90deg);
}
header .headWrap .hamBtn.on span:first-of-type, header .headWrap .hamBtn.on span:last-of-type {
  transform: scaleX(0);
}

header.each .headWrap .gnb > li:hover ul {
  max-height: 500px;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 20px 0;
}
header.each .headWrap .gnb > li ul {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
}
header.each .headWrap .gnb > li ul li h3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

@media (min-width: 1280px) {
  header.drop {
    border: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  header.drop:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 100px;
  }
  header.drop .headWrap {
    align-items: flex-start;
    transition: 0.6s;
    transition-timing-function: linear;
    overflow: hidden;
    height: auto;
    max-height: 100px;
  }
  header.drop .headWrap h1 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header.drop .headWrap .gnb > li {
    position: relative;
  }
  header.drop .headWrap .gnb > li ul {
    display: block;
    width: 100%;
    text-align: center;
  }
  header.drop .headWrap .gnb > li ul li:first-of-type h3 > a {
    padding-top: 20px;
  }
  header.drop .headWrap .gnb > li ul li:last-of-type h3 > a {
    padding-bottom: 20px;
  }
  header.drop .headWrap .gnb > li ul li h3 > a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
  }
  header.drop .headWrap .side {
    height: 100px;
    align-items: center;
  }
  header.drop .headWrap:hover {
    max-height: 500px;
  }
}

header.fitdrop .headWrap {
  height: 100px;
  display: flex;
  align-items: flex-start;
  width: 95%;
  max-width: 1720px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
header.fitdrop .headWrap h1 a {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
header.fitdrop .headWrap h1 a img.transparent {
  display: none;
}
header.fitdrop .headWrap .gnb {
  display: flex;
}
header.fitdrop .headWrap .gnb > li {
  position: relative;
}
header.fitdrop .headWrap .gnb > li ul {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  height: 187px;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
}
header.fitdrop .headWrap .gnb > li ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid red;
  height: 45px;
}
header.fitdrop .headWrap .side {
  align-items: center;
  height: 100px;
}
header.fitdrop:hover .gnb ul {
  max-height: 500px !important;
}

@media (min-width: 1280px) {
  header.sidetop {
    padding-top: 30px;
  }
  header.sidetop:before {
    top: 130px;
  }
  header.sidetop .headWrap .gnb {
    display: flex;
  }
  header.sidetop .headWrap .side {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 95%;
    max-width: 1720px;
    height: 30px;
    background: aqua;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
  }
  header.sidetop .headWrap .side:before {
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

@media (min-width: 1280px) {
  header.transparent {
    transition: background-color 0.6s;
    background-color: transparent;
    border-bottom: 0;
  }
  header.transparent .headWrap .gnb > li h2 a {
    color: #fff;
  }
  header.transparent .headWrap .side li a {
    color: #fff;
  }
  header.transparent .headWrap .side li a:hover {
    color: red;
  }
  header.transparent .headWrap .hamBtn span {
    background-color: #232323;
  }
  header.transparent .headWrap .hamBtn span em {
    background-color: #232323;
  }
  header.transparent:hover, header.transparent.wheel {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #eee;
  }
  header.transparent:hover .headWrap h1 a, header.transparent.wheel .headWrap h1 a {
    background-image: url("/img/logo_invert.png");
  }
  header.transparent:hover .headWrap .gnb h2 > a, header.transparent.wheel .headWrap .gnb h2 > a {
    color: #232323;
  }
  header.transparent:hover .headWrap .side li a, header.transparent.wheel .headWrap .side li a {
    color: #232323;
  }
}

@media (max-width: 1280px) {
  header .headWrap {
    height: 50px !important;
  }
  header .headWrap h1 a {
    width: 72px;
    height: 72px;
  }
  header .headWrap .gnb, header .headWrap .side {
    display: none !important;
  }
  header .headWrap .hamBtn {
    display: flex !important;
  }
  header .m-headWrap {
    position: fixed;
    display: block;
    right: -120%;
    transition: 0.5s;
    top: 0;
    padding-top: 51px;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
  }
  header .m-headWrap.on {
    right: 0;
  }
  header .m-headWrap .side {
    display: flex;
    font-size: 12px;
    justify-content: center;
    background-color: #232323;
  }
  header .m-headWrap .side li {
    width: 25%;
  }
  header .m-headWrap .side li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #fff;
  }
  header .m-headWrap .gnb > li h2 > a {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 55px;
    box-sizing: border-box;
    font-size: 16px;
    background: url("/img/ui/fold.png") no-repeat 95% 50%;
  }
  header .m-headWrap .gnb > li h2 > a.on {
    background: url("/img/ui/foldup.png") no-repeat 95% 50%;
  }
  header .m-headWrap .gnb > li ul {
    overflow: hidden;
    display: none;
  }
  header .m-headWrap .gnb > li ul li h3 > a {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #444;
    background-color: #f2f4f8;
    padding: 12px 0;
    padding-left: 20px;
  }
  .blackbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5000;
    pointer-events: none;
    transition: 0.4s;
    opacity: 0;
  }
  .blackbox.on {
    opacity: 1;
  }
}
a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #232323;
  width: 160px;
  height: 50px;
}
a.btn.arr {
  padding-right: 20px;
  background: url("/img/ui/arr_long (2).png") no-repeat right 20px top 50%;
}/*# sourceMappingURL=common.css.map */